/* new try */
/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  /* background: url("") no-repeat; */
  background-size: cover;
  transition: 1s opacity;
}

body {
  overflow-x: hidden;
}
.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.caption {
  position: absolute;
  top: 30%;
  width: 100%;
}
.landingpage-brand-image {
  width: 200px;
  height: 100px;
}

/* mobile styles */

@media only screen and (min-width: 1922px) {
  .caption {
    position: absolute;
    top: 20%;
    width: 100%;
  }
  .landingpage-brand-image {
    width: 200px;
    height: 100px;
  }
  .beta-page-icon{
    height: 2px;
    width: 100%;
  }
  .centered {
    width: 60%;
    height: auto;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 20%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  
  }

}

/* 
Beta Page Styles */

.beta-page-icon{
  height: 150px;
  width: 100%;
}
.centered {
  width: 60%;
  height: auto;
  /* Center vertically and horizontally */
  position: absolute;
  top: 20%;
  left: 20%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */

}